<!-- Background -->
<div class="container__image">
  <div class="image"></div>
</div>
<!-- Card -->
<div class="master">
  <div class="container">

    <div class="master__fylo">
      <div class="container__fylo">
        <!-- Logo Fylo -->
        <div class="logo"></div>
        <div class="container__items">
          <div class="border__items">
            <div class="document"></div>
          </div>
          <div class="border__items">
            <div class="folder"></div>
          </div>
          <div class="border__items">
            <div class="upload"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Storage -->
    <div class="container__storage">
      <div class="container__label">
        <p class="label">
          You've used
          <span class="countGB">{{countGB}} GB</span>
          of your storage
        </p>
        <div class="data-progress-bar">
          <div class="data-progress-bar-percent"></div>
        </div>
        <div class="range"><span>0 GB</span><span>1000 GB</span></div>
      </div>
    </div>
  </div>
</div>
